body {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 600;
}
h1 {
    font-size: 2em;
    font-weight: 600;
}

.navbar-default .navbar-nav>.active>a {
     background-color: #AED6B7;
    border-bottom: 1px solid #2F5D3A;
}

.tall-section {
    width: 100%;
    height: 1000px;
    background-color: #CEE6D3;
    margin-left: auto;
    margin-right:auto;    
}
